mkdocs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-material-extensions
mkdocs-table-reader-plugin
mkdocs-video
mkdocs-awesome-pages-plugin
mkdocs-exclude
mkdocs-glightbox
mkdocs-minify-plugin
pymdown-extensions
git-author
PyYAML
python-dateutil
pytz
packaging
pyparsing
watchdog
Jinja2
MarkupSafe
Pygments
natsort
tabulate
importlib-metadata